@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: rgba(255, 255, 255, 0.80);
}
.Home-Hero1 {
  background-image: url("./Components/HomeHero/Assets/Hero1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styles.css (or your preferred CSS/PostCSS file) */

@keyframes marquee {
  0%, 100% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.67% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite; /* Increased animation duration to 30 seconds */
  flex: 0 0 100%;
  /* Center the Image within each div */
}

.our-story{
  background: url("../app/Components/HomeHero/OurStory/Assets/Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.delivery {
  background: url("../app/Components//HomeHero//Delivery//Assets/Images\ of\ delivery.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact1 {
  background: url("../app/contact/Assets/Frame\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-hero{
  background: url("../app/shop//Assets/Group\ 1000005948.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes-hero{
  background: url("../app/recipes//Assets/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.delivery-overlay{
  background: rgba(255, 255, 255, 0.80);
}
.button{
  box-shadow: 2px 2px 16px 0px rgba(32, 32, 32, 0.32);
}
.button:hover{
  box-shadow: none;
}
td{
  /* width: 25%; */
}