@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: rgba(255, 255, 255, 0.80);
}
.Home-Hero1 {
  background-image: url("./Components/HomeHero/Assets/Hero1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}